!!! 5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= @title || "This is the Title."
    %link{:href=>'/stylesheets/bootstrap/bootstrap.min.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet'}
    %script{:src => "//code.jquery.com/jquery.js"}
    %script{:src => "/javascripts/application.js"}
    %script{:src => "//www.google.com/jsapi"}
    %script{:src => "/javascripts/chartkick.js"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role=>"navigation"}
      .navbar-header
        %button.navbar-toggle{ :'data-toggle' => "collapse", :'data-target' => ".navbar-ex1-collapse"}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => '#'} Soupstraw

      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => '/'} Home
          %li
            %a{:href => '/bitcoins'} Bitcoins
          %li
            %a{:href => '/stats'} What's Next

        %ul.nav.navbar-right
          - if @user
            %li
              %p.navbar-text
                Hello
                %a.navbar-link{:href=>"/users/#{@user.id}"}= @user.name
          - else
            %li
              %p.navbar-text
                %a{:href => "/log_in"} Log In

    .container
      .row
        = styled_flash
      .row
        = yield

    %script{:src => "/javascripts/bootstrap.min.js"}
