!!! 5
%html{html_attrs}
  %head
    = bootstrap_assets
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title This is the Title.
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
  %body
    - container :fluid do
      - row do
        = yield

