.container

  .col-md-1

  .col-md-4
    %form.form-signin{:action=>'/log_in',:method=>'post'}
      %h2.form-signin-heading
        Please sign in
      %input.form-control{:type=>'text', :placeholder=>"Email address", :autofocus=>true}
      %input.form-control{:type=>'password', :placeholder=>"Password", :autofocus=>true}
      %label.checkbox
        %input{:type=>'checkbox', :value=>"remember-me"}
          Remember me
      %button.btn.btn-lg.btn-primary.btn-block
        Sign in

    %p
      .well.well-sm
        %a{:href=>"/cheat#{request[:path]}"}
          Or just cheat.