.container

  .col-md-4
    %h2
      = @title

    %p
      %ul
        - @themes.each do |theme|
          %li
            %a{href: "http://#{theme}.soupstraw.com#{request.path_info}"}
              = theme