- if @user

  .row
    .jumbotron
      .container
        %h1= "Welcome, #{@user.name}"
        %p
          %a.btn.btn-primary.btn-lg{:href=>"/wall_remote"} Wall Remote
        %p
          %a.btn.btn-primary{:href=>"/log_out"} Log out
