#CREATE USER postgres SUPERUSER;
#CREATE DATABASE soupstraw_development WITH OWNER postgres;
#CREATE DATABASE soupstraw_test WITH OWNER postgres;

development:
  adapter:   postgresql
  database:  soupstraw_development
  username:  postgres
  password:  postgres
  host:      localhost
  reconnect: true

test:
  adapter:   postgresql
  database:  soupstraw_test
  username:  postgres
  password:  postgres
  host:      localhost
  reconnect: true
