.jumbotron
  .container
    %h1 Codename: Soupstraw
    %p
      The goal of this page is to be a place to run scripts that I would normally run in the command line. Right now it is only set up to run a single script:
    %p
      %a.btn.btn-primary.btn-lg{:href=>"bitcoins"} Bitcoin Earnings
