.jumbotron
  .container
    %h1 Codename: Soupstraw
    %p
      This is a site designed to allow me to run commands I would usually run via the command line. Almost all of them are unavailable to the public, but there are some public-facing things. Check out:
    %p
      %a.btn.btn-primary.btn-lg{href:'bitcoins'} Bitcoin Earnings
