!!! 5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    - if @refresh
      %meta{:'http-equiv' => "refresh", :content => @refresh}

    %title= @title || "This is the Title."
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}

    %link{:href=>'/stylesheets/bootstrap/bootstrap.min.css', :media => 'screen', :rel => 'stylesheet'}
    -if bootstrap_theme
      %link{:href=>bootstrap_theme, :media => 'screen', :rel => 'stylesheet'}
    %link{:href=>'//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', :rel => 'stylesheet'}
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet'}

    %script{:src => "//code.jquery.com/jquery.js"}
    %script{:src => "//www.google.com/jsapi"}
    %script{:src => "/javascripts/chartkick.js"}
    %script{:src => "/javascripts/fastclick.min.js"}
    %script{:src => "/javascripts/application.js"}

  %body
    - unless @no_navbar
      %nav.navbar.navbar-default.navbar-fixed-top{:role=>"navigation"}
        .navbar-header
          %button.navbar-toggle{ :'data-toggle' => "collapse", :'data-target' => ".navbar-ex1-collapse"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => '/'} Soupstraw

        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => '/home'} Home
            %li
              %a{:href => '/bitcoins'} Bitcoins
            %li.dropdown
              %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                Other Stuff
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => '/stats'} Stats
                %li
                  %a{:href => '/themes'} Themes
                - if is_user?
                  %li.divider
                  %li
                    %a{:href => '/bladehealth'} Blade Health
                  %li
                    %a{:href => '/graphs'} Graphs

            - if is_user?
              %li.dropdown
                %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
                  Wall Remote
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => '/wall_remote'}
                      %i.fa.fa-desktop
                      Wall Remote
                  %li.divider
                  %li
                    %a{:href => '/lights/living_room/on'}
                      %i.fa.fa-eye
                      Lights On
                  %li
                    %a{:href => '/lights/living_room/off'}
                      %i.fa.fa-eye-slash
                      Lights Off
                  %li
                    %a{:href => '/lights/living_room/reset'}
                      %i.fa.fa-trash-o
                      Reset Color
                  %li.divider
                  %li
                    %a{:href => '/wall_remote/play'}
                      %i.fa.fa-play
                      Play
                  %li
                    %a{:href => '/wall_remote/pause'}
                      %i.fa.fa-pause
                      Pause
                  %li
                    %a{:href => '/wall_remote/next'}
                      %i.fa.fa-fast-forward
                      Next
                  %li
                    %a{:href => '/wall_remote/previous'}
                      %i.fa.fa-fast-backward
                      Previous
                  %li.divider
                  %li
                    %a{:href => '/wall_remote/volume/up'}
                      %i.fa.fa-volume-up
                      Volume Up
                  %li
                    %a{:href => '/wall_remote/volume/down'}
                      %i.fa.fa-volume-down
                      Volume Down

          %ul.nav.navbar-right
            - if is_user?
              %li
                %p.navbar-text
                  Hello,
                  %a.navbar-link{:href=>"/users/#{@user.id}"}= @user.first_name
            - else
              %li
                %p.navbar-text
                  %a{:href => "/log_in"} Log In

    .container
      .row
        = styled_flash
      .row
        = yield

    %script{:src => "/javascripts/bootstrap.min.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45782306-1', 'soupstraw.com');
      ga('send', 'pageview');