.container

  .col-md-1

  .col-md-4
    %form.form-signin{:action=>'/log_in',:method=>'post'}
      %h2.form-signin-heading
        Please sign in
      %input.form-control{:type=>'text', :placeholder=>"Email address", :name=>"email", :autofocus=>true}
      %input.form-control{:type=>'password', :placeholder=>"Password", :name=>"password"}
      %label.checkbox
        %input{:type=>'checkbox', :value=>"remember-me", :checked=>true, :disabled=>true}
          Remember me
      %button.btn.btn-lg.btn-primary.btn-block
        Sign in
