.row
  .col-xs-6
    .container
      .row.text-center
        .btn-group
          %a{:id=>'wall-remote', :href=>'/lights/living_room/on'}
            %button.btn.btn-xxl.btn-default
              %strong
                %i.fa.fa-fw.fa-eye
          %a{:id=>'wall-remote', :href=>'/lights/living_room/off'}
            %button.btn.btn-xxl.btn-inverse.active
              %strong
                %i.fa.fa-fw.fa-eye-slash

    .container.top-buffer
      .row.text-center
        .btn-group
          - if is_dana?
            %a{:id=>'wall-remote', :href=>'/lights/toggle/4'}
              %button.btn.btn-default
                %i.fa.fa-4x.fa-fw.fa-angle-double-left
          %a{:id=>'wall-remote', :href=>'/lights/toggle/3'}
            %button.btn.btn-default
              %i.fa.fa-4x.fa-fw.fa-angle-left
          %a{:id=>'wall-remote', :href=>'/lights/toggle/2'}
            %button.btn.btn-default
              %i.fa.fa-4x.fa-fw.fa-angle-double-up
          %a{:id=>'wall-remote', :href=>'/lights/toggle/1'}
            %button.btn.btn-default
              %i.fa.fa-4x.fa-fw.fa-angle-up
          %a{:id=>'wall-remote', :href=>'/lights/living_room/reset'}
            %button.btn.btn-default
              %i.fa.fa-4x.fa-fw.fa-eraser

    .container.top-buffer
      .row.text-center
        .control-group
          .btn-group
            %a{:id=>'wall-remote', :href=>'/wall_remote/previous'}
              %button.btn.btn-default
                %strong
                  %i.fa.fa-3x.fa-fw.fa-fast-backward
            %a{:id=>'wall-remote', :href=>'/wall_remote/pause'}
              %button.btn.btn-default
                %strong
                  %i.fa.fa-3x.fa-fw.fa-pause
            %a{:id=>'wall-remote', :href=>'/wall_remote/play'}
              %button.btn.btn-default
                %strong
                  %i.fa.fa-3x.fa-fw.fa-play
            %a{:id=>'wall-remote', :href=>'/wall_remote/stop'}
              %button.btn.btn-default
                %strong
                  %i.fa.fa-3x.fa-fw.fa-stop
            %a{:id=>'wall-remote', :href=>'/wall_remote/next'}
              %button.btn.btn-default
                %strong
                  %i.fa.fa-3x.fa-fw.fa-fast-forward

  .control-group.pull-right
    .btn-group
      %a{:id=>'wall-remote', :href=>'/wall_remote/volume/down'}
        %button.btn.btn-default
          %strong
            %i.fa.fa-2x.fa-fw.fa-volume-down
      %a{:id=>'wall-remote', :href=>'/wall_remote/volume/up'}
        %button.btn.btn-default
          %strong
            %i.fa.fa-2x.fa-fw.fa-volume-up

.row
  %button.btn.btn-default.btn-lg.bottom-aligned#wall-remote-tooltip{:'data-toggle'=>'modal', :'data-target'=>'#helpmodal', :'data-placement'=>'top', :'data-trigger'=>'manual', :title=>'Tap here to start!'}
    %i.fa.fa-2x.fa-question

.modal.fade#helpmodal{:'tabindex'=>'-1', :role=>'dialog', :'aria-labelledby'=>'helpmodallabel', :'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %h3
          %i.fa.fa-desktop
          Icon Glossary

      .modal-body
        %h4
          Living room light controls:
        %p
          %i.fa.fa-2x.fa-fw.fa-eye
          \: Lights On
        %p
          %i.fa.fa-2x.fa-fw.fa-eye-slash
          \: Lights Off
        %p
          %i.fa.fa-2x.fa-fw.fa-eraser
          \: Reset Color

        %hr
        %h4
          Toggle individual lights:
        - if is_dana?
          %p
            %i.fa.fa-2x.fa-fw.fa-angle-double-left
            \: Dana's Bedroom
        %p
          %i.fa.fa-2x.fa-fw.fa-angle-left
          \: Morgan's Desk
        %p
          %i.fa.fa-2x.fa-fw.fa-angle-double-up
          \: Nearest TV
        %p
          %i.fa.fa-2x.fa-fw.fa-angle-up
          \: Couches

        %hr
        %p
          %i.fa.fa-2x.fa-fw.fa-question
          \: This Guide
