.container
  .col-md-12
    .jumbotron
      .container
        %h1.text-center
          WALL REMOTE

.container
  .row.text-center
    .btn-group
      %button.btn.btn-default
        %h1
          %strong
            %a{:href=>'/lights/on'} on
      %button.btn.btn-default
        %h1
          %strong
            %a{:href=>'/lights/off'} off

