.container
  .row.text-center
    .btn-group
      %a{:id=>'wall-remote', :href=>'/lights/on'}
        %button.btn.btn-xxl.btn-default
          %strong
            %i.fa.fa-eye
      %a{:id=>'wall-remote', :href=>'/lights/off'}
        %button.btn.btn-xxl.btn-inverse.active
          %strong
            %i.fa.fa-eye-slash

.container.top-buffer
  .row.text-center
    .btn-group
      %a{:id=>'wall-remote', :href=>'/lights/toggle/3'}
        %button.btn.btn-default
          %i.fa.fa-3x.fa-angle-left
      %a{:id=>'wall-remote', :href=>'/lights/toggle/2'}
        %button.btn.btn-default
          %i.fa.fa-3x.fa-angle-double-up
      %a{:id=>'wall-remote', :href=>'/lights/toggle/1'}
        %button.btn.btn-default
          %i.fa.fa-3x.fa-angle-up
      %a{:id=>'wall-remote', :href=>'/lights/reset'}
        %button.btn.btn-default
          %i.fa.fa-3x.fa-trash-o

.container.top-buffer
  .row.text-center
    .control-group
      .btn-group
        %a{:id=>'wall-remote', :href=>'/wall_remote/previous'}
          %button.btn.btn-default
            %strong
              %i.fa.fa-2x.fa-fast-backward
        %a{:id=>'wall-remote', :href=>'/wall_remote/pause'}
          %button.btn.btn-default
            %strong
              %i.fa.fa-2x.fa-pause
        %a{:id=>'wall-remote', :href=>'/wall_remote/play'}
          %button.btn.btn-inverse.active
            %strong
              %i.fa.fa-2x.fa-play
        %a{:id=>'wall-remote', :href=>'/wall_remote/stop'}
          %button.btn.btn-default
            %strong
              %i.fa.fa-2x.fa-stop
        %a{:id=>'wall-remote', :href=>'/wall_remote/next'}
          %button.btn.btn-default
            %strong
              %i.fa.fa-2x.fa-fast-forward
