.container
  .col-md-12
    .jumbotron
      .container
        %h1.text-center
          WALL REMOTE

.container
  .row.text-center
    .btn-group
      %button.btn.btn-xxl.btn-default
        %strong
          %a{:id=>'wall-remote', :href=>'/lights/on'}
            %i.fa.fa-eye
      %button.btn.btn-xxl.btn-inverse.active
        %strong
          %a{:id=>'wall-remote', :href=>'/lights/off'}
            %i.fa.fa-eye-slash
