.container
  .col-md-12
    .jumbotron
      .container
        %h1.text-center
          WALL REMOTE

.container
  .row.text-center
    .btn-group
      %button.btn.btn-xxl.btn-default
        %strong
          %a{:id=>'wall-remote', :href=>'/lights/on'}
            %i.fa.fa-eye
      %button.btn.btn-xxl.btn-inverse.active
        %strong
          %a{:id=>'wall-remote', :href=>'/lights/off'}
            %i.fa.fa-eye-slash

.container.top-buffer
  .row.text-center
    .btn-group
      %button.btn.btn-default
        %a{:id=>'wall-remote', :href=>'/lights/toggle/1'}
          %i.fa.fa-2x.fa-angle-left
      %button.btn.btn-default
        %a{:id=>'wall-remote', :href=>'/lights/toggle/2'}
          %i.fa.fa-2x.fa-angle-double-up
      %button.btn.btn-default
        %a{:id=>'wall-remote', :href=>'/lights/toggle/3'}
          %i.fa.fa-2x.fa-angle-up

.container.top-buffer
  .row.text-center
    .control-group
      .btn-group
        %button.btn.btn-default
          %strong
            %a{:id=>'wall-remote', :href=>'#'}
              %i.fa.fa-fast-backward
        %button.btn.btn-default
          %strong
            %a{:id=>'wall-remote', :href=>'/wall_remote/pause'}
              %i.fa.fa-pause
        %button.btn.btn-inverse.active
          %strong
            %a{:id=>'wall-remote', :href=>'/wall_remote/play'}
              %i.fa.fa-play
        %button.btn.btn-default
          %strong
            %a{:id=>'wall-remote', :href=>'#'}
              %i.fa.fa-stop
        %button.btn.btn-default
          %strong
            %a{:id=>'wall-remote', :href=>'#'}
              %i.fa.fa-fast-forward
